.close-button {
    display: inline-block;
    position: relative;
    padding: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .close-button i {
    color: #fff;
  }
  