<div class="bg-lock-screen">
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-lock-screen d-flex align-items-center justify-content-center">
			<div class="card shadow-none bg-transparent">
				<div class="card-body p-md-5 text-center">
		
					<div class="">
						<img src="assets/images/icons/user.png" class="mt-5" width="120" alt="" />
					</div>
					<p class="mt-2 text-white">Confirmer votre adresse e-mail</p>
				
					<div class="d-grid">
						<button type="submit" (click)="sendverification()" class="btn btn-white">envoyer un mail de vérification</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
</div>