.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}
.map-frame {
  border: 2px solid black;
  height: 100%;
}
#map {
  height: 400px;
}
#frugalmap {
  height: 600px;
  width: 100%
}
.toast-container {
  position: fixed;
  top: 0;
  //end: 0;
  padding: 3px;
}
.logo-image {
  width: 200px;
  height: 200px;
}
.btn {
  color: #DF8F17;
  background-color: #fff;
  border-color: #DF8F17;
}
.custom-border {
  border-top: 4px solid #DF8F17;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.text-right {
  text-align: right;
  }
  .product-list-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
  }




