.btn:hover {
  color: #fff;
  background-color: #DF8F17;
  border-color: #DF8F17;
}
.btn {
  color: #DF8F17;
  background-color: #fff;
  border-color: #DF8F17;
}
.pagination-controls {
  background-color: #f8f9fa; 
  padding: 10px 20px; 
  border-radius: 5px;
  display: inline-block;
  position: relative; 
  left: 17%;
  transform: translateX(-50%);
  z-index: 1000;
  align-items: center; 

}
.pagination-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
//  z-index: 1000;
}
.btn2 {
  color: #DF8F17;
  background-color: #fff;
  border-color: #DF8F17;
  }
  .imagepromo{
      width:50px;
      height: 50px;
    }
    .imagecategory{
      width: 100px;
      height: 100px;
      object-fit: contain;
     }
/* image-overlay.component.css */
.image-container {
position: relative;
display: inline-block;
height: 60%;
}
.image {
display: block;
max-width: 100%;
height: auto;
}
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(128, 128, 128, 0.7);
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: opacity 0.3s ease-in-out;
pointer-events: none;
}
.overlay-text {
color: white;
font-size: 18px;
font-weight: bold;
}
.image-container:hover .overlay {
opacity: 1;
}
.upload-image{
border:1px dashed #DF8F17;
height:150px;
width:150px;
display:flex;
align-items: center;
}
.product-list-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}
.form-check-input:checked {
  background-color: #DF8F17;
  border-color: #DF8F17;
  }







