	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-reset-password d-flex align-items-center justify-content-center">
			<div class="row">
				<div class="col-12 col-lg-10 mx-auto">
					<div class="card">
						<div class="row g-0">
							<div class="col-lg-5 border-end">
								<div class="card-body">
									<div class="p-5">
										<div class="text-start">
											<img src="http://eatorder.fr/sandbox01/images/banner.png" width="180" alt="">
										</div>
										<h4 class="mt-5 font-weight-bold"> {{'createPassword'| translate}}</h4>
										<p class="text-muted">{{'msgRenitiliser'| translate}}</p>
										<form [formGroup]="registerForm">
										<div class="mb-3 mt-5">
											<label class="form-label">{{'createPassword'| translate}}</label>
											<input type="password" formControlName="password" [(ngModel)]="password" class="form-control" placeholder="Enter new password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors} " />
											<div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
												<div *ngIf="f['password'].errors['required']">{{'required'| translate}}</div>
												<div *ngIf="f['password'].errors['minlength']">{{'messagePAsswordLongRequered'| translate}}</div>
										</div>
										</div>
										<div class="mb-3">
											<label class="form-label">{{'confirmPassword'| translate}}</label>
											<input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password" [(ngModel)]="confirmPassword"   [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors} "  />
											<div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
												<div *ngIf="f['confirmPassword'].errors['required']">{{'required'| translate}}</div>
												  <div *ngIf="f['confirmPassword'].errors['mustMatch']">{{'messageMatchRequered'| translate}}</div>
												  </div>
										</div>
										<div class="d-grid gap-2">
											<button type="submit" (click)="onSubmit()" class="btn btn-primary">Modifier le mot de passe</button> <a href="javascript:;" (click)="onLogin()" class="btn btn-light"><i class='bx bx-arrow-back mr-1'></i>Back to Login</a>
										</div>
									</form>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<img src="assets/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="...">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->