<div class="bg-forgot">
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="card forgot-box">
				<div class="card-body">
					<form [formGroup]="registerForm">
					<div class="p-4 rounded  border">
						<div class="text-center">
							<img src="assets/images/icons/forgot-2.png" width="120" alt="" />
						</div>
						<h4 class="mt-5 font-weight-bold">{{'forgetPasswordMsg'| translate}}</h4>
						<p class="text-muted">{{'tapEmailAdresse'| translate}}</p>
						<div class="my-4">
							<label class="form-label">{{'email'| translate}}</label>
							<input type="text" formControlName="email" class="form-control form-control-lg" [(ngModel)]="email" placeholder="example@user.com" [ngClass]="{ 'is-invalid': submitted && f['email'].errors} " />
							<div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
								<div *ngIf="f['email'].errors['required']">{{'required'| translate}}</div>
								<div *ngIf="f['email'].errors['email']"> {{'messageValideEmail'| translate}}</div>
							</div>
						</div>
						<div class="d-grid gap-2">
							<button type="submit" (click)="onSubmit()"  class="btn btn-primary btn-lg">{{'send'| translate}}</button> <a href="javascript:;" (click)="onSignIn()" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>{{'retout'| translate}}</a>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
</div>