.chart-container {
    position: relative;
    margin: auto;
    height: 400px; /* Définissez la hauteur souhaitée pour votre graphique */
    width: 55%; /* Définissez la largeur souhaitée pour votre graphique */
  }
  .pagination-controls {
    background-color: #f8f9fa; 
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    position: relative; 
    left: 18%;
    transform: translateX(-50%);
    z-index: 1000;
    align-items: center; 
  
  }
  .pagination-container {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
  //  z-index: 1000;
  }
  .table-margin {
    margin-top: 20px; 
}
.green-card {
  background-color:rgb(51, 180, 116);
  color: #ffffff; 
  border-radius: 10px;
  padding: 20px;
}
.green-card2 {
  background-color:cornflowerblue;
  color: #ffffff; 
  border-radius: 10px;
  padding: 20px;
}
.green-card3 {
  background-color:mediumpurple;
  color: #ffffff; 
  border-radius: 10px;
  padding: 20px;
}
.chart-wrapper {
  text-align: center;
  width: 100%;
}
.btn:hover {
  color: #fff;
  background-color: #DF8F17;
  border-color: #DF8F17;
  }
  .btn {
  color: #DF8F17;
  background-color: #fff;
  border-color: #DF8F17;
  }
  .logo-image {
    width: 150px;
    height: 150px;
  }
  .product-list-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
  }


