.green-card {
    background-color:rgb(240, 160, 130);
    color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
}

/*.green-card .total-amount {
    font-size: 10px; 
    font-weight: bold; 
}*/
.green-card2 {
    background-color:rgb(74, 50, 231); 
    color: #ffffff; 
    padding: 20px; 
}
.prix{
    margin-left: 40px; 
}
.custom-card {
    width: 250px; 
    height: 100px;
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.chart-wrapper {
    text-align: center;
    width: 80%;
}


//card yers
.green-car {
    background-color:rgb(51, 180, 116);
    color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
  }
  .red-car{
    background-color:brown;
    color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
  }
  .green-car2 {
    background-color:cornflowerblue;
    color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
  }
  .green-car3 {
    background-color:mediumpurple;
    color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
  }
  .btn:hover {
    color: #fff;
    background-color: #DF8F17;
    border-color: #DF8F17;
    }
    .btn {
    color: #DF8F17;
    background-color: #fff;
    border-color: #DF8F17;
    }