.chart-container {
    position: relative;
    margin: auto;
    height: 400px; /* Définissez la hauteur souhaitée pour votre graphique */
    width: 55%; /* Définissez la largeur souhaitée pour votre graphique */
  }